main {
    border: 1px solid #000;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.kotak {
    width: 200px;
    height: 200px;
    margin: 20px;
    font-weight: bold;
}

#kotak1 {
    background: #3498db;
    order: 1;
    flex: 1;
    align-self: flex-end;
}

#kotak2 {
    background: #e74c3c;
    order: 2;
    flex: 1;
}

#kotak3 {
    background: #f1c40f;
    order: 3;
    flex: 1;
}

#kotak4 {
    background: #9C27B0;
    order: 4;
    flex: 1;
}